.lingkaran {
	width: 25px;
	height: 25px;
	background-color: rgba(0, 0, 0, .0);
	border-radius: 50%;
	border: 5px #133055 solid;
	float: left;
	margin-left: 17px;
}

.com {
	margin-left: 17px;
	color: #133055;
	font-style: italic;
	font-weight: 480;
	font-size: 25px;
	line-height: 30px;
}

.textl {
	margin-left: 17px;
	color: #133055;
	font-style: italic;
	font-size: 80px;
	font-weight: bold;
}

.plogin {
	margin-left: 17px;
	margin-top: 30px;
	width: 310px;
}

.masuk {
	width: 100%;
}

.bgdaf {
	background-color: #133055;
	color: white !important;
	width: 100%;
}

.bi {
	color: grey;
}

.ling1 {
	height: 1300px;
	width: 1300px;
	background-color: #133055;
	position: absolute;
	bottom: -400px;
	right: -300px;
	z-index: 0;
}

.ling2 {
	height: 1100px;
	width: 1100px;
	background-image: url('../img/login.jpg');
	background-size: 950px;
	position: absolute;
	bottom: -450px;
	right: -200px;
	z-index: 1;
}

.flow {
	height: 735px;
	width: 1536px;
	overflow: hidden;
}

.lingkaran1 {
	width: 25px;
	height: 25px;
	background-color: rgba(0, 0, 0, .0);
	border-radius: 50%;
	border: 5px white solid;
	float: left;
	margin-left: 17px;
}

.geser {
	margin-left: 1250px;
}

.wadah {
	z-index: 3;
}

