body {
	/*background-color: purple;*/
}

.navbar {
	width: 100%;
	z-index: 999;
	background-color: white !important;
}

.hai {
	font-size: 250%;
	font-weight: 700;
	margin-bottom: 90px;
	margin-top: 50px;
}

.emat {
	font-size: 100px;
	font-weight: 800;
	text-shadow: 1px 1px 3px black;
	line-height: 100px;
}

.textj {
	margin-top: -35px;
}

.haljudul {
	position: relative;
	padding-top: 150px;
	padding-left: 60px;
	background-color: rgba(0, 0, 0, 0);
}

.hias {
	overflow: hidden;
	position: relative;
	background-image: url(gambar1.jpg);
	background-size: cover;
}

.elemen {
	width: 1000px;
	height: 2000px;
	background-color: #133055;
	margin-top: -1000px;
	margin-left: -300px;
	transform: rotate(-30deg);
}

.eleme {
	width: 1000px;
	height: 2000px;
	background-color: #1a4072;
	margin-top: -1000px;
	margin-left: -380px;
	transform: rotate(-30deg);
}

.dot1 {
	height: 25px;
	width: 25px;
	background-color: rgba(0, 0, 0, .0);
	position: relative;
	z-index: 3;
	border: 5px white solid;
	border-radius: 50%;
	float: left;
	margin-left: 17px;
	margin-top: 100px;
}

.dot2 {
	height: 25px;
	width: 25px;
	background-color: rgba(0, 0, 0, .0);
	position: relative;
	z-index: 3;
	border: 5px white solid;
	border-radius: 50%;
	float: left;
	margin-right: 17px;
}

.wadah {
	position: absolute;
	margin-left: 100px;
}

.wadah1 {
	padding-left: 450px;
}

.judul1 {
	top: 40px;
	height: 670px;
	position: absolute;
	padding-top: 8px;
	background-color: rgba(0, 0, 0, 0);
	left: 0;
}

.jabout {
	font-size: 70px;
	font-style: italic;
	text-align: center;
	color: #133055;
	font-weight: bold;
	margin-top: 60px;
}

.elemen1 {
	 background-color: #133055;
	 width: 100%;
	 height: 100px;
	 margin-top: 65px;
	 border-top-right-radius: 20px;
	 border-bottom-right-radius: 20px;
}

.elemen-1 {
	background-color: #133055;
	width: 100%;
	height: 100px;
	margin-top: 65px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.slideAbout {
	background-color: rgba(0, 0, 0, .0);
	margin-top: -50px;
	text-align: center;
	padding-left: 160px;
	padding-right: 160px;
	position: relative;
	transform: translate(0) scale(1);
	transition: .5s;
}

.slideAbout h2 {
	color: #133055;
	font-size: 30px;
}

.slideAbout h3 {
	color: black;
	font-size: 25px;
	font-weight: 400;
}

.nonhias {
	position: relative;
}

.iden {
	margin-bottom: 40px;
	color: #133055 !important;
	font-size: 25px;
	font-weight: bold;
}

.wad {
	height: 420px;
}

/*.idenv {
	background-color: #133055;
	width: 80%;
	height: 100px;
}*/

.panahki {
	position: absolute;
	z-index: 10;
	color: #133055 !important;
	font-size: 100px;
	top: 40%;
	left: 0;
}

.panahka {
	position: absolute;
	z-index: 10;
	color: #133055 !important;
	font-size: 100px;
	top: 40%;
	right: 0;padding: 0;
}

.hilangki {
	transform: translate(-500px) scale(0);
}

.hilangka {
	transform: translate(500px) scale(0);
}

.panahHilang {
	transform: scale(0);
}

.sub a {
	background-color: #133055;
	width: 150px;
	font-weight: 600;
	text-align: center;
}

.sub p {
	font-size: 20px;
	color: black;
}

.profile {
	position: absolute;
	color: #133055 !important;
	font-size: 25px;
	left: 280px;
	bottom: 180px;
	z-index: 20;
	font-weight: bold;
}

.aprofile {
	left: 46%;
	bottom: 180px;
	position: absolute;
	z-index: 20;
	color: #133055 !important;
	font-size: 25px;
	font-weight: bold;
}

.bprofile {
	right: 17%;
	bottom: 180px;
	position: absolute;
	z-index: 20;
	color: #133055 !important;
	font-size: 25px;
	font-weight: bold;
}

.about1 span {
	font-weight: 500;
	font-style: italic;
}

.about2 .abot {
	font-size: 20px;
	font-style: italic;
	font-weight: 500;
}

.hiasJudul {
	height: 100%;
	width: 100%;
	background-color: #133055;
	border-radius: 0 20px 20px 0;
}

.hiasJuduli {
	height: 100%;
	width: 100%;
	background-color: #133055;
	border-radius: 20px 0 0 20px;
}

.bchias {
	height: 100px;
}

.sub {

	height: 110px;
}

.textsub h2 {
	font-size: 70px !important;
	font-style: italic;
	color: #133055;
	font-weight: bold;
}

.bgc {
	background-color: #133055;
	color: white;
}

.bgc p {
	font-weight: bold;
	font-size: 25px;
}

.bgc2 {
	background-color: goldenrod;
	width: 150px;
}

.bgc2 a {
	color: white;
	font-weight: bold;
	font-size: 26px;
}

.colalamat h1 {
	color: #133055 !important;
	font-size: 25px;
	font-weight: bold;
}

.alamat {
	height: 140px;
	background-color: #133055;
	border-radius: 20px;
	color: white;
	font-size: 20px;
}

.subHilang {
	transform: scale(0);

}

.esub {
	transform: scale(1.0);
	transition: .5s;
}

.rounded-circle {
	width: 400px;
	height: 400px;
	margin-top: 180px;
	margin-bottom: 180px;
	background-color: rgba(0, 0, 0, .0);
	color: white;
	border: 4px solid white;
	padding-top: 50px;
}

.rounded-circle h1 {
	font-size: 65px;
	font-weight: bold;
}

.rounded-circle p {
	margin-top: 30px;
	font-weight: bold;
	font-size: 28px;
}

.guide {
	background-color: #133055;
}

.langkah {
	width: 100%;
	margin-top: 70px;
	padding-left: 150px;
	padding-right: 150px;
}

.langkah h1 {
	font-weight: bold;
	font-size: 28px;
	color: white;
}

.subLangkah {
	color: #133055;
	font-size: 28px;
	font-weight: 350;
}

.lagkah2 {
	width: 100%;
	margin-top: 460px;
	padding-left: 150px;
	padding-right: 150px;
}

.lagkah2 {
	font-weight: bold;
	font-size: 28px;
	color: white;
}

.lingkaran {
	width: 25px;
	height: 25px;
	background-color: rgba(0, 0, 0, .0);
	border-radius: 50%;
	border: 5px #133055 solid;
	float: left;
	margin-left: 17px;
}

.com {
	margin-left: 17px;
	color: #133055;
	font-style: italic;
	font-weight: 480;
	font-size: 25px;
	line-height: 30px;
}

@media (min-width: 992px) {
	.tombol {
		background-color: white;
		font-weight: 700;
		text-align: center;
		font-size: 30px;
		border-radius: 15px;
		margin-right: 15px;
		box-shadow: 1px 1px 5px black;
	}

	.navbar {
		width: 100%;
		z-index: 999;
		background-color: rgba(0, 0, 0, .0) !important;

	}

	.hias {
		overflow: hidden;
		position: relative;
		background-image: url(gambar1.jpg);
		background-size: cover;
		height: 768px;
	}


}

@media (min-width: 1200px) {
	
}

@media (max-width: 992px) {
		.home h1 {
		font-size: 150%;
		font-weight: 700;
		margin-bottom: 90px;
		margin-top: 50px;
	}

		.hias {
		overflow: hidden;
		position: relative;
		background-image: url(gambar1.jpg);
		background-size: cover;
		height: 768px;
	}

	.emat {
		font-size: 50px;
		font-weight: 800;
		text-shadow: 1px 1px 3px black;
		line-height: 100px;
		line-height: 50px;
	}

	.tunjukkan {
		text-shadow: 1px 1px 3px black;
	}

	.wadah1 {
		padding-left: 600px;
	}

	.elemen {
		width: 1000px;
		height: 2000px;
		background-color: #133055;
		margin-top: -1000px;
		margin-left: -500px;
		transform: rotate(-30deg);
	}

	.eleme {
		width: 1000px;
		height: 2000px;
		background-color: #1a4072;
		margin-top: -1000px;
		margin-left: -580px;
		transform: rotate(-30deg);
	}

	.slideAbout h2 {
		color: #133055;
		font-size: 30px;
	}

	.slideAbout h3 {
		color: black;
		font-size: 20px;
		font-weight: 400;
	}

	.slideAbout {
		background-color: rgba(0, 0, 0, .0);
		margin-top: -50px;
		text-align: center;
		padding-left: 60px;
		padding-right: 60px;
		position: relative;
		transform: translate(0) scale(1);
		transition: .5s;
	}
	.panahki {
		position: absolute;
		z-index: 10;
		color: #133055 !important;
		font-size: 100px;
		top: 40%;
		left: 0;
	}

	.panahka {
		position: absolute;
		z-index: 10;
		color: #133055 !important;
		font-size: 100px;
		top: 40%;
		right: 0;padding: 0;
	}

	.hilangki {
		transform: translate(-500px) scale(0);
	}

	.hilangka {
		transform: translate(500px) scale(0);
	}

	.panahHilang {
		transform: scale(0);
	}

	.about2 .abot {
		font-size: 15px;
		font-style: italic;
		font-weight: 500;
	}

	.sub a {
		background-color: #133055;
		width: 100px;
		font-weight: 600;
		text-align: center;
	}

	.sub p {
		font-size: 20px;
		color: black;
	}

	.tomboli {
		background-color: white;
		font-weight: bold;
		text-align: center;
		font-size: 20px;
		border-radius: 15px;
		margin-right: 15px;
	}

	.textsub h2 {
		font-size: 50px !important;
		font-style: italic;
		color: #133055;
		font-weight: bold;
		margin-top: 20px;
	}

		.subLangkah {
		color: #133055;
		font-size: 15px;
		font-weight: 350;
	}

	.langkah h1 {
		font-weight: bold;
		font-size: 18px;
		color: white;
	}

	.langkah {
		width: 100%;
		margin-top: 70px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.rounded-circle {
		width: 250px;
		height: 250px;
		margin-top: 180px;
		margin-bottom: 180px;
		background-color: rgba(0, 0, 0, .0);
		color: white;
		border: 4px solid white;
		padding-top: 20px;
	}

	.rounded-circle h1 {
		font-size: 28px;
		font-weight: bold;
	}

	.rounded-circle p {
		margin-top: 20px;
		font-weight: bold;
		font-size: 18px;
	}

	.lagkah2 {
		width: 100%;
		margin-top: 460px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.lagkah2 h1 {
		font-weight: bold;
		font-size: 18px;
		color: white;
	}
		
}


@media (max-width: 768px) {
	.hai {
		font-size: 150%;
		font-weight: 700;
		margin-bottom: 90px;
		margin-top: 50px;
		text-shadow: 1px 1px 3px black;
	}

	.emat {
		font-size: 50px;
		font-weight: 800;
		text-shadow: 1px 1px 3px black;
		line-height: 100px;
		line-height: 50px;
	}

	.tunjukkan {
		font-size: 20px;
		text-shadow: 1px 1px 3px black;
	}

	.wadah1 {
		padding-left: 400px;
	}

	.elemen {
		width: 1000px;
		height: 2000px;
		background-color: #133055;
		margin-top: -1000px;
		margin-left: -700px;
		transform: rotate(-30deg);
	}

	.eleme {
		width: 1000px;
		height: 2000px;
		background-color: #1a4072;
		margin-top: -1000px;
		margin-left: -780px;
		transform: rotate(-30deg);
	}

	.jabout {
		font-size: 60px;
		font-style: italic;
		text-align: center;
		color: #133055;
		font-weight: bold;
		margin-top: 65px;
	}

	.slideAbout h2 {
		color: #133055;
		font-size: 20px;
	}

	.slideAbout h3 {
		color: black;
		font-size: 12px;
		font-weight: 400;
	}

	.slideAbout {
		background-color: rgba(0, 0, 0, .0);
		margin-top: -50px;
		text-align: center;
		padding-left: 160px;
		padding-right: 160px;
		position: relative;
		transform: translate(0) scale(1);
		transition: .5s;
	}
	.panahki {
		position: absolute;
		z-index: 10;
		color: #133055 !important;
		font-size: 100px;
		top: 40%;
		left: 0;
	}

	.panahka {
		position: absolute;
		z-index: 10;
		color: #133055 !important;
		font-size: 100px;
		top: 40%;
		right: 0;padding: 0;
	}

	.hilangki {
		transform: translate(-500px) scale(0);
	}

	.hilangka {
		transform: translate(500px) scale(0);
	}

	.panahHilang {
		transform: scale(0);
	}

	.about2 .abot {
		font-size: 12px;
		font-style: italic;
		font-weight: 500;
	}

	.sub a {
		background-color: #133055;
		width: 100px;
		font-weight: 600;
		text-align: center;
	}

	.sub p {
		font-size: 12px;
		color: black;
	}

	.tomboli {
		background-color: white;
		font-weight: bold;
		text-align: center;
		font-size: 20px;
		border-radius: 15px;
		margin-right: 15px;
	}

	.textsub h2 {
		font-size: 40px !important;
		font-style: italic;
		color: #133055;
		font-weight: bold;
		margin-top: 30px;
	}

	.bgc2 {
		background-color: goldenrod;
		width: 120px;
	}

	.bgc2 a {
		color: white;
		font-weight: bold;
		font-size: 26px;
	}

		.subLangkah {
		color: #133055;
		font-size: 15px;
		font-weight: 350;
	}

	.langkah h1 {
		font-weight: bold;
		font-size: 18px;
		color: white;
	}

	.langkah {
		width: 100%;
		margin-top: 70px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.rounded-circle {
		width: 250px;
		height: 250px;
		margin-top: 180px;
		margin-bottom: 180px;
		background-color: rgba(0, 0, 0, .0);
		color: white;
		border: 4px solid white;
		padding-top: 20px;
	}

	.rounded-circle h1 {
		font-size: 28px;
		font-weight: bold;
	}

	.rounded-circle p {
		margin-top: 20px;
		font-weight: bold;
		font-size: 18px;
	}

	.lagkah2 {
		width: 100%;
		margin-top: 460px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.lagkah2 h1 {
		font-weight: bold;
		font-size: 18px;
		color: white;
	}


}

@media (max-width: 576px) {
	.home h1 {
		font-size: 150%;
		font-weight: 700;
		margin-bottom: 50px;
		margin-top: 50px;
	}

	.emat {
		font-size: 40px;
		font-weight: 800;
		text-shadow: 1px 1px 3px black;
		line-height: 40px;
	}

	.wadah1 {
		padding-left: 205px;
	}

	.jabout {
		font-size: 40px;
		font-style: italic;
		text-align: center;
		color: #133055;
		font-weight: bold;
		margin-top: 80px;
	}

	.slideAbout h2 {
		color: #133055;
		font-size: 20px;
	}

	.slideAbout h3 {
		color: black;
		font-size: 12px;
		font-weight: 400;
	}

	.slideAbout {
		background-color: rgba(0, 0, 0, .0);
		margin-top: -50px;
		text-align: center;
		padding-left: 60px;
		padding-right: 60px;
		position: relative;
		transform: translate(0) scale(1);
		transition: .5s;
	}
	.panahki {
		position: absolute;
		z-index: 10;
		color: #133055 !important;
		font-size: 100px;
		top: 40%;
		left: 0;
	}

	.panahka {
		position: absolute;
		z-index: 10;
		color: #133055 !important;
		font-size: 100px;
		top: 40%;
		right: 0;padding: 0;
	}

	.hilangki {
		transform: translate(-500px) scale(0);
	}

	.hilangka {
		transform: translate(500px) scale(0);
	}

	.panahHilang {
		transform: scale(0);
	}

	.about2 .abot {
		font-size: 12px;
		font-style: italic;
		font-weight: 500;
	}

	.sub a {
		background-color: #133055;
		width: 100px;
		font-weight: 600;
		text-align: center;
	}

	.sub p {
		font-size: 12px;
		color: black;
	}

	.tomboli {
		background-color: white;
		font-weight: bold;
		text-align: center;
		font-size: 20px;
		border-radius: 15px;
		margin-right: 15px;
	}

	.textsub h2 {
		font-size: 30px !important;
		font-style: italic;
		color: #133055;
		font-weight: bold;
		margin-top: 35px;
	}

	.bgc2 {
		background-color: goldenrod;
		width: 100px;
	}

	.bgc2 a {
		color: white;
		font-weight: bold;
		font-size: 20px;
	}

	.subLangkah {
		color: #133055;
		font-size: 15px;
		font-weight: 350;
	}

	.langkah h1 {
		font-weight: bold;
		font-size: 18px;
		color: white;
	}

	.langkah {
		width: 100%;
		margin-top: 70px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.rounded-circle {
		width: 250px;
		height: 250px;
		margin-top: 180px;
		margin-bottom: 180px;
		background-color: rgba(0, 0, 0, .0);
		color: white;
		border: 4px solid white;
		padding-top: 20px;
	}

	.rounded-circle h1 {
		font-size: 28px;
		font-weight: bold;
	}

	.rounded-circle p {
		margin-top: 20px;
		font-weight: bold;
		font-size: 18px;
	}

	.lagkah2 {
		width: 100%;
		margin-top: 460px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.lagkah2 h1 {
		font-weight: bold;
		font-size: 18px;
		color: white;
	}



}



